@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * img {
filter: grayscale();
} */
/*llevar todas las imagenes del proyecto a escala de colores particular*/
/* Seccion de Media QUeries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
  }

  .aplicacion-img {
    max-width: 150px;
    margin-right: 20px;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .ubicacion {
    grid-column: span 2;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/* Estilos Generales*/
body {
  background-color: #0e0d0d;
  color: whitesmoke;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body header .titulo-pagina h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fca311;
}

body main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 20%);
  gap: 5px;
  align-content: center;
  margin: 0 20px;
  justify-content: center;
  align-items: flex;
  height: 120vh;
}

body main .cliente-uno,
body main .cliente,
body main .cliente-final {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body main .cliente-uno img,
body main .cliente img,
body main .cliente-final img {
  max-width: 100%;
  height: auto;
}

main {
  flex: 1;
}

/* Seccion de Media QUeries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
  }

  .aplicacion-img {
    max-width: 150px;
    margin-right: 20px;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .ubicacion {
    grid-column: span 2;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/* Estilos de header*/
header {
  margin: 0px 10px 5%;
  display: flex;
  /* Manejo en filas */
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px inset gray;
}

header .container-logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

header .container-logo-header img {
  max-width: 30%;
  height: auto;

}

header nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
}

header nav ul .navbar-brand {
  color: rgb(162, 159, 159);
}

.navbar-brand:first-child {
  color: rgb(162, 159, 159);
  /*Color de palabra Menu para pantallas chicas */
}

header .navbar-toggler-icon .navbar-nav,
header .nav-link {
  color: whitesmoke;
  /* Cambia el color del texto del menú de BT */
}

header .navbar-nav .nav-link.active {
  color: yellow;
  /* Muestra el color de la página activa */
}

header .navbar-nav .nav-link:hover {
  color: #ff0000;
  /* Cambia el color cuando se pasa el cursor sobre el enlace */
}

header .navbar-toggler {
  border-color: whitesmoke;
  /* Cambia el color del icono del botón del toggler de BT*/
}

/* Seccion de Media QUeries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
    box-sizing: border-box;
  }

  .aplicacion-img {
    max-width: 25vw;
    max-height: 18vh;
    margin-right: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .oculto-navbar {
    display: none;
  }

  .ubicacion {
    grid-column: span 2;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/* Estilos de footer */
footer {
  text-align: center;
  justify-content: center;
  border-top: 1px inset gray;
  margin-top: 2vh;
  font-size: small;
}

/* Seccion de Media QUeries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
  }

  .aplicacion-img {
    max-width: 150px;
    margin-right: 20px;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .ubicacion {
    grid-column: span 2;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/* Estilos para la sección de productos */
.contenedor-productos {
  display: block;
  align-content: stretch;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-row: auto;
}

.product h3 {
  margin-top: 10px;
}

.product p {
  margin-top: 5px;
  font-size: 14px;
  color: whitesmoke;
}

.product img {
  width: 257px;
  height: 225px;
}

/* Seccion de Media QUeries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
  }

  .aplicacion-img {
    max-width: 150px;
    margin-right: 20px;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .ubicacion {
    grid-column: span 2;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/* Estilos para la sección Nuestra Historia */
.imagen-nosotros {
  width: 95vw;
  height: 20vh;
  margin: 20px auto;
  display: block;
  filter: sepia();
}

.historia {
  text-align: center;
  color: whitesmoke;
  padding: 20px;
}

.historia h2 {
  color: #fca311;
  border-bottom: 2px solid #fca311;
  padding-bottom: 10px;
}

/* Estilos para la sección Misión, Visión y Valores */
.mision-vision-valores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: whitesmoke;
  padding: 20px;
}

.mision-vision-valores div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mision-vision-valores p {
  max-width: 600px;
  text-align: center;
}

;


.mision,
.vision,
.valores {
  display: flex;
  text-align: center;
  flex-direction: row;
}

.mision h3,
.vision h3,
.valores h3 {
  color: #fca311;
}

/*no mostramos whatsapp salvo en pantallas grandes*/
.flotwapp {
  display: none;
}

/* Estilos para la sección Nosotros */
.main-nosotros {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: initial;
  align-items: stretch;
}

.equipo {
  padding: 20px;
  text-align: center;
}

.equipo h2 {
  color: #fca311;
  border-bottom: 2px solid;
}

.equipo h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: antiquewhite;
}

.equipo p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.columnas-equipo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.miembro-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.miembro-equipo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.equipo-detalle {
  text-align: center;
}

/* Seccion de Media Queries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
  }

  .aplicacion-img {
    max-width: 150px;
    margin-right: 20px;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .ubicacion {
    grid-column: span 2;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/* Estilos para la sección de Contacto */
.main-contacto {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.formulario-contacto {
  margin: 20px auto;
  max-width: 600px;
}

.formulario-contacto h2 {
  color: #fca311;
  border-bottom: 2px solid #fca311;
  padding-bottom: 10px;
}

.formulario-contacto .form-group {
  margin-bottom: 20px;
}

.formulario-contacto .form-group label {
  font-weight: bold;
  display: block;
}

.formulario-contacto .form-group input,
.formulario-contacto .form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 200%;
}

button[type=submit] {
  padding: 10px 20px;
  background-color: #fca311;
  color: #0e0d0d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type=submit]:hover {
  background-color: #d78703;
}

.boton-derecha {
  text-align: right;
}

.datos-empresa {
  margin: 20px auto;
  max-width: 600px;
}

.datos-empresa h2 {
  color: #fca311;
  border-bottom: 2px solid #fca311;
  padding-bottom: 10px;
}

.ubicacion {
  margin: 20px auto;
  max-width: 600px;
}

.ubicacion h2 {
  color: #fca311;
  border-bottom: 2px solid #fca311;
  padding-bottom: 10px;
}

.ubicacion iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/* Seccion de Media QUeries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
  }

  .aplicacion-img {
    max-width: 150px;
    margin-right: 20px;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    width: 257px;
    height: 225px;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .ubicacion {
    grid-column: span 2;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/* Estilos del carrusel */
.carousel-caption {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* Centra el contenido horizontalmente */
}

.carousel-item img {
  width: 80%;
  height: 30vh;
  object-fit: cover;
  filter: grayscale();
}

.carousel-caption h5 {
  text-transform: uppercase;
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  background-color: rgba(232, 232, 232, 0.5);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: whitesmoke;
  padding: 10px;
  margin: 0;
}

.carousel-caption p {
  font-size: 1.5em;
  color: black;
  background-color: rgba(232, 232, 232, 0.5);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: whitesmoke;
  padding: 10px;
  margin-top: 10px;
}

.main-content {
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.intro p {
  font-size: 1.2em;
  text-align: justify;
}

.productos,
.aplicaciones,
.elegir {
  display: flex;
  flex-direction: column;
}

.productos h2,
.aplicaciones h2,
.elegir h2 {
  color: #e5e5e5;
  border-bottom: 2px solid #fca311;
  padding-bottom: 10px;
}


ul {
  list-style: none;
  padding: 0;
}

/* Estilos para imágenes de aplicaciones */
.aplicaciones-grid {
  display: grid;
  gap: 20px;
}

.aplicaciones-grid .aplicacion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aplicaciones-grid .aplicacion-img {
  width: 320px;
  height: 250px;
  max-width: 350px;
  margin-bottom: 10px;
}

/* Sección de porqué elegirnos */
.elegir {
  margin: 20px 0;
}

.elegir-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px 2px 5px;
  padding: 2%;
}

.elegir-gif {
  width: 60%;
  max-height: 200px;
  margin-bottom: 20px;
  padding: 2%;
}

.elegir-descripciones {
  list-style-type: none;
  margin-left: 2%;
  width: 100%;
  text-align: left;
}

.elegir-descripciones li {
  margin-bottom: 10px;
}

/* Seccion de Media QUeries*/
/*tablets o pantallas intermedias*/
@media (min-width: 576px) {
  .main-contacto {
    display: flex;
    flex-direction: row;
  }

  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr;
  }

  .aplicacion-item {
    flex-direction: row;
    text-align: left;
  }

  .aplicacion-img {
    max-width: 150px;
    margin-right: 20px;
  }

  .elegir-content {
    flex-direction: row;
  }

  .elegir-gif {
    max-width: 50%;
    max-height: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .elegir-descripciones {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .product img {
    width: 257px;
    height: 225px;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .ubicacion {
    grid-column: span 2;
  }

/* Botón WhatsApp flotante */
.flotwapp {
  display: flex;
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 30px;
  right: 30px;
  border-radius: 50px;
  /* font-size: 16px; Ajusta el tamaño del texto según tu preferencia */
  z-index: 100;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff; /* Color del texto */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para efecto flotante */
  transition: opacity 0.3s ease;
}

.flotwapp:hover {
  opacity: 0.8;
}

.wapp-text {
  position: absolute;
  top: 60px; 
  text-align: center;
  width: 100%;
  font-size: 10px; /* Ajusta el tamaño del texto según tu preferencia */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  font-weight: bold;
  padding-top: 10%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra para efecto de relieve */
}
/*seccion aplicaciones*/
  .aplicaciones-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product img {
    width: 343px;
    height: 300px;
  }

  main.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .mision-vision-valores {
    display: flex;
    flex-direction: row;
  }

  .elegir-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .elegir-gif {
    max-height: 200px;
    max-width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */