/*primero reseteamos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilo mobile*/

/*estilos generales*/

body{
    background-color: #0e0d0d;
}

/*Estilos de header*/

header{
    margin:0px 30px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav ul{
    list-style: none;
    display:flex;
    gap: 20px;
}

main .img-dos, main .img-cinco{
    display:none;

}

main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    margin: 0 30px;
    height: 80vh; /*viewport height, trabajamos la altura propia del navegador*/
    display: grid;
    grid-template-columns: 1fr; /*repeat(3, 1fr); /*es lo mismo que 1fr, 1fr, 1fr*/
    grid-template-rows: repeat(3, 25%);
    row-gap: 20px;
    align-content:center;
}

footer{
    text-align: center;
    color:whitesmoke;
}

/*mq tablet*/
@media screen and (min-width: 768px){
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
    }

    main .img-cuatro{
        grid-column: span 2;
    }
}

/*mq desktop*/
@media screen and (min-width: 1280px){
    header img{
        width: 15%;
    }
    
    main .img-dos, main .img-cinco{
        display:block;
    }

    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40% 40% 15%;
    }

    main .img-uno, main .img-tres{
        grid-row: span 2;
    }
    main .img-dos, main .img-cuatro{
        grid-column: span 1;
    }
    main .img-cinco{
        grid-column: span 3;
    }
}