@import '../utilidades/variables';
@import '../utilidades/mixins';
@import '../utilidades/mq';

/* Estilos para la sección de Contacto */
.main-contacto {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.formulario-contacto {
    margin: 20px auto;
    max-width: 600px;

    h2 {
        color: $color-primario;
        border-bottom: 2px solid #fca311;
        padding-bottom: 10px;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            font-weight: bold;
            display: block;
        }

        input,
        textarea {
            @include estilo-elemento-formulario;
            height: 200%; // Manteniendo este estilo específico
        }
    }
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: $color-primario;
    color: $color-fondo;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($color-primario, 10%);
    }
}

.datos-empresa {
    margin: 20px auto;
    max-width: 600px;

    h2 {
        color: $color-primario;
        border-bottom: 2px solid $color-primario;
        padding-bottom: 10px;
    }
}

.ubicacion {
    margin: 20px auto;
    max-width: 600px;

    h2 {
        color: $color-primario;
        border-bottom: 2px solid $color-primario;
        padding-bottom: 10px;
    }

    iframe {
        width: 100%;
        height: 450px;
        border: 0;
    }
}
