* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

/* Estilos para el encabezado */
header {
    background-color: #d1e0e0;
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: inline;
                margin-right: 10px;

                a {
                    text-decoration: none;
                    color: #e3e3e3;
                    padding: 5px 10px;
                    font-weight: normal;

                    &:hover {
                        text-decoration: underline;
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
        }
    }

    h1 {
        text-align: center;
        height: 15%;
        width: 100%;
        color: #010101;

        span {
            color: rgb(76, 76, 76);
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
}