$color-primario: #ffe3cacc;       
$color-secundario: #6c757d;      
$color-fondo: #f8f9fa;           
$color-texto: #343a40;          
$color-enlace: #007bff;    
$color-texto-secundario: #ce5031;      