// Colores
$color-primario: #fca311; // Color primario (naranja)
$color-secundario: #666; // Color secundario (gris)
$color-fondo: #0e0d0d; // Color de fondo del cuerpo
$color-texto: whitesmoke; // Color del texto principal
$color-link: rgba(245, 245, 245, 0.793); // Color de los enlaces
$color-destacado: #ff0000; //color destacado
$color-en-imagen: rgb(248, 116, 0);

